<script src="https://giscus.app/client.js"
        data-repo="majesticrise/majesticrise.github.io"
        data-repo-id="R_kgDOS-9Svg"
        data-category="General"
        data-category-id="DIC_kwDOS-9Svs4DDQ74"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>