<footer class="footer-min">
  <div class="text-muted">
    {% if site.author %}
      {{ site.author }}
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    {% endif %}
    {% if page.date %}
      {{ page.date }}
    {% else %}
      {{ site.time | date: '%Y' }}
    {% endif %}

    {% if site.url-pretty %}
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <a href="{{ '/' | absolute_url }}">{{ site.url-pretty }}</a>
    {% endif %}

    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <span id="busuanzi_container_site_pv">本站总访问量 <span id="busuanzi_value_site_pv"></span> 次</span>
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <span id="busuanzi_container_site_uv">本站访客数 <span id="busuanzi_value_site_uv"></span> 人</span>
    {% if page.layout == 'post' %}
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <span id="busuanzi_container_page_pv">本文总阅读量 <span id="busuanzi_value_page_pv"></span> 次</span>
    {% endif %}
  </div>
</footer>
